* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 100px;
  padding: 20px 30px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin: right;
  color: #61dafb;
  font-weight: 600;
  font-size: 22 px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 60px 30px;
  color: white;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}
